## *Getting started*
---

In [1]:
# pandas package for data exploration
import pandas as pd

In [2]:
#load CSV file as a data frame
# a data frame is a 2 dimensional object (simply rows and columns)
sr_df = pd.read_csv('C:\\Users\\sivkumar\\Documents\\Study Materials\\Data\\developer_survey_2019\\survey_results_public.csv', header='infer', sep=',')

In [3]:
#first 5 lines of the data frame
sr_df.head()

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
0,1,I am a student who is learning to code,Yes,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work",United Kingdom,No,Primary/elementary school,NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,14.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
1,2,I am a student who is learning to code,No,Less than once per year,The quality of OSS and closed source software ...,"Not employed, but looking for work",Bosnia and Herzegovina,"Yes, full-time","Secondary school (e.g. American high school, G...",NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,19.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult
2,3,"I am not primarily a developer, but I write co...",Yes,Never,The quality of OSS and closed source software ...,Employed full-time,Thailand,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)",Web development or web design,...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,28.0,Man,No,Straight / Heterosexual,NaN,Yes,Appropriate in length,Neither easy nor difficult
3,4,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,22.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
4,5,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Ukraine,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech meetups or events in your area;Courses on...,30.0,Man,No,Straight / Heterosexual,White or of European descent;Multiracial,No,Appropriate in length,Easy

In [4]:
#the no. of rows X Columns
sr_df.shape

(88883, 85)

In [5]:
# complete information about the data frame
sr_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88883 entries, 0 to 88882
Data columns (total 85 columns):
Respondent                88883 non-null int64
MainBranch                88331 non-null object
Hobbyist                  88883 non-null object
OpenSourcer               88883 non-null object
OpenSource                86842 non-null object
Employment                87181 non-null object
Country                   88751 non-null object
Student                   87014 non-null object
EdLevel                   86390 non-null object
UndergradMajor            75614 non-null object
EduOther                  84260 non-null object
OrgSize                   71791 non-null object
DevType                   81335 non-null object
YearsCode                 87938 non-null object
Age1stCode                87634 non-null object
YearsCodePro              74331 non-null object
CareerSat                 72847 non-null object
JobSat                    70988 non-null object
MgrIdiot                  61159 non-null object
MgrMoney                  61157 non-null object
MgrWant                   61232 non-null object
JobSeek                   80555 non-null object
LastHireDate              79854 non-null object
LastInt                   67155 non-null object
FizzBuzz                  71344 non-null object
JobFactors                79371 non-null object
ResumeUpdate              77877 non-null object
CurrencySymbol            71392 non-null object
CurrencyDesc              71392 non-null object
CompTotal                 55945 non-null float64
CompFreq                  63268 non-null object
ConvertedComp             55823 non-null float64
WorkWeekHrs               64503 non-null float64
WorkPlan                  68914 non-null object
WorkChallenge             68141 non-null object
WorkRemote                70284 non-null object
WorkLoc                   70055 non-null object
ImpSyn                    71779 non-null object
CodeRev                   70390 non-null object
CodeRevHrs                49790 non-null float64
UnitTests                 62668 non-null object
PurchaseHow               61108 non-null object
PurchaseWhat              62029 non-null object
LanguageWorkedWith        87569 non-null object
LanguageDesireNextYear    84088 non-null object
DatabaseWorkedWith        76026 non-null object
DatabaseDesireNextYear    69147 non-null object
PlatformWorkedWith        80714 non-null object
PlatformDesireNextYear    77443 non-null object
WebFrameWorkedWith        65022 non-null object
WebFrameDesireNextYear    62944 non-null object
MiscTechWorkedWith        59586 non-null object
MiscTechDesireNextYear    64511 non-null object
DevEnviron                87317 non-null object
OpSys                     87851 non-null object
Containers                85366 non-null object
BlockchainOrg             48175 non-null object
BlockchainIs              60165 non-null object
BetterLife                86269 non-null object
ITperson                  87141 non-null object
OffOn                     86663 non-null object
SocialMedia               84437 non-null object
Extraversion              87305 non-null object
ScreenName                80486 non-null object
SOVisit1st                83877 non-null object
SOVisitFreq               88263 non-null object
SOVisitTo                 88086 non-null object
SOFindAnswer              87816 non-null object
SOTimeSaved               86344 non-null object
SOHowMuchTime             68378 non-null object
SOAccount                 87828 non-null object
SOPartFreq                74692 non-null object
SOJobs                    88066 non-null object
EntTeams                  87841 non-null object
SOComm                    88131 non-null object
WelcomeChange             85855 non-null object
SONewContent              69560 non-null object
Age                       79210 non-null float64
Gender                    85406 non-null object
Trans                     83607 non-null object
Sexuality                 76147 non-null object
Ethnicity                 76668 non-null object
Dependents                83059 non-null object
SurveyLength              86984 non-null object
SurveyEase                87081 non-null object
dtypes: float64(5), int64(1), object(79)
memory usage: 57.6+ MB

In [6]:
# set display option to view all the columns with out hiding
pd.set_option('display.max_columns', 85)

In [7]:
#read CSV data in to data frame
schema_df = pd.read_csv('C:\\Users\\sivkumar\\Documents\\Study Materials\\Data\\developer_survey_2019\\survey_results_schema.csv', header='infer', sep=',')

In [8]:
#returns first 5 lines of the data frame
schema_df.head()

        Column                                       QuestionText
0   Respondent  Randomized respondent ID number (not in order ...
1   MainBranch  Which of the following options best describes ...
2     Hobbyist                            Do you code as a hobby?
3  OpenSourcer        How often do you contribute to open source?
4   OpenSource  How do you feel about the quality of open sour...

In [9]:
# last 10 rows in the data frame
schema_df.tail(10)

           Column                                       QuestionText
75  WelcomeChange  Compared to last year, how welcome do you feel...
76   SONewContent  Would you like to see any of the following on ...
77            Age  What is your age (in years)? If you prefer not...
78         Gender  Which of the following do you currently identi...
79          Trans                    Do you identify as transgender?
80      Sexuality  Which of the following do you currently identi...
81      Ethnicity  Which of the following do you identify as? Ple...
82     Dependents  Do you have any dependents (e.g., children, el...
83   SurveyLength  How do you feel about the length of the survey...
84     SurveyEase  How easy or difficult was this survey to compl...

In [10]:
#this shows the column indexes
schema_df.columns

Index(['Column', 'QuestionText'], dtype='object')

## *Pandas Data frame and Pandas Data Series*
---

In [11]:
#access one column as a panads series
sr_df['Country'].head()

0            United Kingdom
1    Bosnia and Herzegovina
2                  Thailand
3             United States
4                   Ukraine
Name: Country, dtype: object

In [12]:
#access one column as a pandas data frame, then pass in the columns name as a list
sr_df[['Country']].head()

                  Country
0          United Kingdom
1  Bosnia and Herzegovina
2                Thailand
3           United States
4                 Ukraine

In [13]:
#access multiple columns, then pass in the column names as a list for ex. ['Country','Student']
sr_df[['Country','Student']].head()

                  Country         Student
0          United Kingdom              No
1  Bosnia and Herzegovina  Yes, full-time
2                Thailand              No
3           United States              No
4                 Ukraine              No

In [14]:
# ".iloc" means (Integer Location) where in the Integer is the Index in terms of data frame
# for ex : sr_df.iloc[0] means 1st row of data frame as a (Pandas series)
# for ex : sr_df.iloc[[0]] means 1st row of data frame as a (Pandas data frame)
sr_df.iloc[[0]]

sr_df.iloc[0]

Respondent                                                      1
MainBranch                 I am a student who is learning to code
Hobbyist                                                      Yes
OpenSourcer                                                 Never
OpenSource      The quality of OSS and closed source software ...
                                      ...
Sexuality                                 Straight / Heterosexual
Ethnicity                                                     NaN
Dependents                                                     No
SurveyLength                                Appropriate in length
SurveyEase                             Neither easy nor difficult
Name: 0, Length: 85, dtype: object

In [15]:
#to access 2 rows as a data frame using .iloc then pass in the row indexes as a list
sr_df.iloc[[0,1],[6,7]]

                  Country         Student
0          United Kingdom              No
1  Bosnia and Herzegovina  Yes, full-time

In [16]:
# Similar to iloc, we have "loc" which uses any of the index, where in it can be of lables
sr_df.loc[0] # pandas series

sr_df.loc[[0]] # pandas data frame

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,EduOther,OrgSize,DevType,YearsCode,Age1stCode,YearsCodePro,CareerSat,JobSat,MgrIdiot,MgrMoney,MgrWant,JobSeek,LastHireDate,LastInt,FizzBuzz,JobFactors,ResumeUpdate,CurrencySymbol,CurrencyDesc,CompTotal,CompFreq,ConvertedComp,WorkWeekHrs,WorkPlan,WorkChallenge,WorkRemote,WorkLoc,ImpSyn,CodeRev,CodeRevHrs,UnitTests,PurchaseHow,PurchaseWhat,LanguageWorkedWith,LanguageDesireNextYear,DatabaseWorkedWith,DatabaseDesireNextYear,PlatformWorkedWith,PlatformDesireNextYear,WebFrameWorkedWith,WebFrameDesireNextYear,MiscTechWorkedWith,MiscTechDesireNextYear,DevEnviron,OpSys,Containers,BlockchainOrg,BlockchainIs,BetterLife,ITperson,OffOn,SocialMedia,Extraversion,ScreenName,SOVisit1st,SOVisitFreq,SOVisitTo,SOFindAnswer,SOTimeSaved,SOHowMuchTime,SOAccount,SOPartFreq,SOJobs,EntTeams,SOComm,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
0,1,I am a student who is learning to code,Yes,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work",United Kingdom,No,Primary/elementary school,NaN,"Taught yourself a new language, framework, or ...",NaN,NaN,4,10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,HTML/CSS;Java;JavaScript;Python,C;C++;C#;Go;HTML/CSS;Java;JavaScript;Python;SQL,SQLite,MySQL,MacOS;Windows,Android;Arduino;Windows,Django;Flask,Flask;jQuery,Node.js,Node.js,IntelliJ;Notepad++;PyCharm,Windows,I do not use containers,NaN,NaN,Yes,"Fortunately, someone else has that title",Yes,Twitter,Online,Username,2017,A few times per month or weekly,Find answers to specific questions;Learn how t...,3-5 times per week,Stack Overflow was much faster,31-60 minutes,No,NaN,"No, I didn't know that Stack Overflow had a jo...","No, and I don't know what those are",Neutral,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,14.0,Man,No,Straight / Heterosexual,NaN,No,Appropriate in length,Neither easy nor difficult

In [17]:
# loc with column lables and rows lables(which are indexes)
sr_df.loc[[0,1],['Country','Student']]

                  Country         Student
0          United Kingdom              No
1  Bosnia and Herzegovina  Yes, full-time

In [18]:
# value_counts() for categorical data columns
sr_df['Hobbyist'].value_counts()

Yes    71257
No     17626
Name: Hobbyist, dtype: int64

In [32]:
# when we want to use loc to slice and dice by a range of rows and columns, we do not pass in the values as a [<list>]
# we pass in the rows values as a range for ex. 0:5 for top 6 rows
# 'Respondent':'Student' for columns from respondent to student

sr_df.loc[0:5, 'Respondent':'Country']

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country
0,1,I am a student who is learning to code,Yes,Never,The quality of OSS and closed source software ...,"Not employed, and not looking for work",United Kingdom
1,2,I am a student who is learning to code,No,Less than once per year,The quality of OSS and closed source software ...,"Not employed, but looking for work",Bosnia and Herzegovina
2,3,"I am not primarily a developer, but I write co...",Yes,Never,The quality of OSS and closed source software ...,Employed full-time,Thailand
3,4,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,United States
4,5,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,Ukraine
5,6,"I am not primarily a developer, but I write co...",Yes,Never,The quality of OSS and closed source software ...,Employed full-time,Canada

### Pandas : ***Indexes***
* index is like a primary_key to the table
---

In [34]:
# here the DataFrame as the index has integer numbers starting from 0
schema_df.head()

        Column                                       QuestionText
0   Respondent  Randomized respondent ID number (not in order ...
1   MainBranch  Which of the following options best describes ...
2     Hobbyist                            Do you code as a hobby?
3  OpenSourcer        How often do you contribute to open source?
4   OpenSource  How do you feel about the quality of open sour...

In [35]:
# we can change the index of the data frame from default number to any specific coulmn in a DataFrame
# for ex. in DataFrame schema_df make the column "Column" as index column
schema_df.set_index('Column')

# but the above index is only changed for this cell and not affected in the original DataFrame
# because Pandas does not make the change unless we give permission using "inplace=True"

                                                   QuestionText
Column
Respondent    Randomized respondent ID number (not in order ...
MainBranch    Which of the following options best describes ...
Hobbyist                                Do you code as a hobby?
OpenSourcer         How often do you contribute to open source?
OpenSource    How do you feel about the quality of open sour...
...                                                         ...
Sexuality     Which of the following do you currently identi...
Ethnicity     Which of the following do you identify as? Ple...
Dependents    Do you have any dependents (e.g., children, el...
SurveyLength  How do you feel about the length of the survey...
SurveyEase    How easy or difficult was this survey to compl...

[85 rows x 1 columns]

In [37]:
# we use this parameter "inplace=True" to make the set_index as permanent
schema_df.set_index('Column', inplace=True)

# after this we cannot access the data frame with the numerical index for ex. schema_df.loc[0] will throw an error
# where in the schema_df.iloc[0] using the integer location will perform the same operation

In [40]:
# to reset the index we can use the "reset_index()" method with "inplace=True" parameter to reset the DataFrame index
schema_df.reset_index(inplace=True)

In [41]:
# to set the index_col when the data is loaded from the CSV file use the parameter "index_col=<column_name>"
sr_df = pd.read_csv('C:\\Users\\sivkumar\\Documents\\Study Materials\\Data\\developer_survey_2019\\survey_results_public.csv', header='infer', sep=',', index_col='Respondent')

schema_df = pd.read_csv('C:\\Users\\sivkumar\\Documents\\Study Materials\\Data\\developer_survey_2019\\survey_results_schema.csv', header='infer', sep=',', index_col='Column')

In [45]:
# accessing the value of a cell using the new Index value in the loc and the column you want the data from
schema_df.loc['MgrIdiot', 'QuestionText']

'How confident are you that your manager knows what they’re doing?'

In [47]:
# sorting based on the Index value, ascending = "ascending=True"
# decending = "decending=True"
schema_df.sort_index(ascending=True)

                                                    QuestionText
Column
Age            What is your age (in years)? If you prefer not...
Age1stCode     At what age did you write your first line of c...
BetterLife     Do you think people born today will have a bet...
BlockchainIs   Blockchain / cryptocurrency technology is prim...
BlockchainOrg  How is your organization thinking about or imp...
...                                                          ...
WorkPlan                 How structured or planned is your work?
WorkRemote                       How often do you work remotely?
WorkWeekHrs     On average, how many hours per week do you work?
YearsCode      Including any education, how many years have y...
YearsCodePro   How many years have you coded professionally (...

[85 rows x 1 columns]

### Pandas : *** basics of filtering data in DataFrame ***

***